.app-wrapper{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  .mat-catd{
    background: #3f51b5;
    border-radius: 0;
    color: #FFFFFF;
    width: 100%;
  }
  .mat-nav-list{
    flex-grow: 1;
    background: #3f51b5;
    a {
      color: #ffffff;
    }
  }
  .app-content {
    flex-grow: 17;
    background: #f7f7f7;
  }
}
