<div class="app-wrapper">
  <mat-card class="mat-catd">
    <mat-card-title>Щоденник тренувань</mat-card-title>
  </mat-card>
  <div class ="content">
    <mat-nav-list class="mat-nav-list">
      <a mat-list-item *ngFor="let link of links"
      routerLink={{link.path}}
      class="mat-nav-list-link"
      >
      {{ link.caption }}
        <mat-divider></mat-divider>
      </a>
    </mat-nav-list>
  
    <div class ="nav-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
