<mat-grid-tile-header class ="day-cell-header">
  {{day}}
</mat-grid-tile-header>

<mat-list [dragula]="'training-bag'" [attr.data-day]="day" class="day-trainings-list">
  <mat-list-item *ngFor="let training of trainings"
                 data-draggable="true"
                 [attr.data-id]="training.id"
                 class ="day-cell-traning" >
    {{training.id}}
  </mat-list-item>
</mat-list>

<mat-grid-tile-footer class="day-cell-footer">
  <button class="add-btn" mat-mini-fab (click) = "openCreateTrainingDialog()">+</button>
</mat-grid-tile-footer>
